/**
 * VA Dialog
 * v0.1.1
 */

@font-face {
    font-family: "wheel";
    src: url('wheel.eot');
    src: url('wheel.eot?#iefix') format('embedded-opentype'),
         url('wheel.ttf') format('truetype');
}

body.hasvamodal {
  overflow: hidden !important;
}

.vashadow {
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow: auto;
}

.vashadow.vashadow-iframe {
	overflow: hidden;
}

.vadialog {
	background: white;
	border-radius: 10px;
	display: none;
	position: fixed;
	left:50%;
	top:50%;
	padding:40px;
	z-index: 9999;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.vaCloseButton {
	position: absolute;
	border-radius: 10px;
	font-family: "wheel";
	color: grey;
	font-size: 20px;
	border: none;
	background: white;
	width: 40px;
	height: 40px;
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.vaCloseButton:before {
	content: "\e000";
}

.vaOffscreen{
	position: absolute;
	left: -9999px;
}

.vadialog iframe {
	width: 100%;
	height: 100%;
	border: 0 none;
}